<a href="/" aria-label="Sentinel Secure home" class="inline-flex items-center">
    <img 
        src="/logos/logo-white-alt.svg" 
        alt="Sentinel Secure" 
        class="h-10 w-auto hidden dark:block"
    />
    <img 
        src="/logos/logo-colored-alt.svg" 
        alt="Sentinel Secure" 
        class="h-10 w-auto dark:hidden"
    />
</a>