<a href="/" aria-label="Sentinel Secure home">
    <img 
        src="/logos/logo-white.svg" 
        alt="Sentinel Secure" 
        class="h-10 hidden dark:block"
    />
    <img 
        src="/logos/logo-purple.svg" 
        alt="Sentinel Secure" 
        class="h-10 dark:hidden"
    />
</a>