<a href="/" aria-label="Sentinel Secure home">
    <img 
        src="/logos/logo-white-alt.svg" 
        alt="Sentinel Secure" 
        class="h-10 hidden dark:block"
    />
    <img 
        src="/logos/logo-colored-alt.svg" 
        alt="Sentinel Secure" 
        class="h-10 dark:hidden"
    />
</a>